html, body, #draft {
  height: 100%;
  width: 100%;
  background-color: white;
}

table {
  width: 100%;
  height: 100%;
  background-color: white;
}

#draftTable {
  width: 100%;
  min-height: 100%;
  background-color:white;
}

#teamName {
  position: relative;
  margin-left: 5%;
  margin-top: 10px;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  float: left;
}

#timer {
  z-index: -1000;
  position:fixed;
  top:0px;
  left:0px;
  background-color: white;
  width: 100%;
  height: 100%;
}

#pickin {
  z-index: -2000;
  position:fixed;
  top:0px;
  left:0px;
  background-color:white;
  width: 100%;
  height: 100%;
}

#playerHighlights {
  position: fixed;
  z-index: -4000;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
}
#playerHighlights > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
  #playerHighlights > video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  #playerHighlights > video { width: 300%; left: -100%; }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
  #playerHighlights > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}

#pick {
  z-index: -3000;
  position:fixed;
  top:0px;
  left:0px;
  background-color:white;
  width: 100%;
  height: 100%;
}

#draftList {
  position: fixed;
  top:0px;
  left:0px;
  background-color: white;
  width: 100%;
  height: 100%;
}

#countdown_clock {
  font-size: 275px;
  text-align: center;
  width: 100%;
  height: 85%;
}

#pickisin {
  font-size: 220px;
  text-align: center;
  width: 100%;
  height: 100%;
}

#player {
  font-size: 125px;
  text-align: center;
  width: 100%;
  height: 50%;
}

#playerTeam {
  font-size: 60px;
  text-align: center;
  width: 100%;
  height: 15%;
}

#team {
  font-size: 80px;
  text-align: center;
  width: 100%;
  height: 35%;
}

.draft-id-input {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  vertical-align: top;
  width: 350px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #8e44ad;
  border: 0;
  border-bottom: 2px solid #80399d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #80399d;
  box-shadow: inset 0 -2px #80399d;
  margin-top: 5%;
}

.draft-flat-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
  margin-top: 1%;
}

.draft-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#draftListTable {
  width: 100%;
  height: auto;
  margin-top: 4em;
}

.flat-table {
	border-collapse:collapse;
	font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.flat-table th, .flat-table td {
  border: 1px solid #999;
}

.flat-table th {
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	color: rgba(0,0,0,0.75);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-size: 1.4em;
}

.flat-table td {
	color: #000;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-size: 1.4em;
  background-color: #FFFFFF;
}

.flat-table tr {
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.flat-table-3 {
  background: #FFFFF;
}

.timer-flat-button {
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
  margin-top: 1%;
}

.timer-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.start-draft-flat-button {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
}

.start-draft-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@keyframes currentPicker {
  0%   {background-color: #FFFFFF;}
  10%  {background-color: #FFCCCC;}
  20%  {background-color: #FF9999;}
  30%  {background-color: #FF6666;}
  35%  {background-color: #FF4C4C;}
  40%  {background-color: #FF3232;}
  45%  {background-color: #FF1919;}
  50%  {background-color: #FF0000;}
  55%  {background-color: #FF1919;}
  60%  {background-color: #FF3232;}
  65%  {background-color: #FF4C4C;}
  70%  {background-color: #FF6666;}
  75%  {background-color: #FF7F7F;}
  80%  {background-color: #FF9999;}
  85%  {background-color: #FFB2B2;}
  90%  {background-color: #FFCCCC;}
  95%  {background-color: #FFEFEF;}
  100% {background-color: #FFFFFF;}
}

.currentPick {
  background-color: #FFFFFF;
  -webkit-animation: currentPicker 2.5s infinite;
  animation: currentPicker 2.5s infinite;
}

.openSans {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 5%;
}
