body {
  margin: 0;
  padding: 0;
}

#afterAuthTitle {
  text-align: center;
  padding-top: 5%;
}

#home {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 100%;
}

#afterAuth {
  z-index: -1000;
  position:fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 100%;
}

#title {
  text-align: left;
  padding-left: 5%;
  line-height: 85px;
  float: left;
}

#top {
  padding-right: 5%;
  height: 125px;
}

#signin {
  height: 50px;
  float: right;
  margin-top: 38px;
  cursor: pointer;
  cursor: hand;
}

#bottom {
  height: 100%;
}

#brady {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  float: left;
}

#brown {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  float: right;
}

#charles {
  margin-top: 0.25em;
  position: relative;
  max-width: 80%;
  max-height: 80%;
  float: right;
}

#description {
  float: left;
  padding-left: 3em;
  padding-top: 3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#twilioArrow {
  padding-top: 0.5em;
  height: 40px;
  width: auto;
  margin: 0 auto;
}

#arrowHolder {
  height: 3.5em;
  width: 100%;
}

#twilioNotSet {
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: hidden;
}

.setup-flat-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e74c3c;
  border: 0;
  border-bottom: 2px solid #db4334;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #db4334;
  box-shadow: inset 0 -2px #db4334;
  margin-top: 10%;
}

.setup-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.start-flat-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
  margin-top: 1em;
}

.start-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.settings-flat-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3c82e7;
  border: 0;
  border-bottom: 2px solid #1a67d6;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #db4334;
  box-shadow: inset 0 -2px #1a67d6;
  margin-top: 1em;
}

.settings-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.openSans {
  font-family: 'Open Sans', sans-serif;
}
