<!DOCTYPE html>
<html>
  <head>
    <title>FDH - View Draft</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
    <div id="draftList">
    </div>
  </body>
    <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</html>
