<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/view.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
    <div id="draft">
    </div>
    <div id="pickin">
      <input readonly id="pickisin" placeholder="Pick Is In" />
    </div>
    <div id="playerHighlights">
      <video src="" id="playerHighlightReel" type="video/mp4">
      </video>
    </div>
    <div id="pick">
      <input readonly id="player" placeholder="player"/>
      <input readonly id="playerTeam" placeholder="pTeam" />
      <input readonly id="team" placeholder="team"/>
    </div>
  </body>
    <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
    <script src="http://code.responsivevoice.org/develop/responsivevoice.src.js"></script>
    <script type="text/javascript" src="js/view.js"></script>
</html>
